<div class="alert alert-primary" role="alert">
  <p>la URL publica para la empresa es:</p>
  <p><strong>http://172.24.42.65:8080/vanity?usrid=<%= current_user.id%>&empresa=<%= current_user.empresa%></strong></p>
</div>

<h2>Listado de todos los Proyectos</h2>
<%= link_to 'Nuevo proyecto', new_proyecto_path %>

<% @proyectos.each do |proyecto| %>
  <div class="alert alert-secondary" role="alert">
    <p>
      <strong>Nombre:</strong>
      <%= proyecto.nombre %>
    </p>

    <p>
      <strong>Descripcion:</strong>
      <%= proyecto.descripcion %>
    </p>

    <p>
      <strong>Valor:</strong>
      <%= proyecto.valor %>
    </p>

    <p>
      <strong>Total diseños:</strong>
      <%= proyecto.design.count %>
    </p>
    <%= link_to 'Detalles', proyecto_path(proyecto) %>
    <%= link_to 'Editar', edit_proyecto_path(proyecto) %>
    <%= link_to 'Eliminar', proyecto_path(proyecto),
            method: :delete,
            data: { confirm: 'Esta seguro que desea eliminar?' } %>
  </div>
<% end %>
