<h1>Datos del Proyecto</h1>
<p>
  <strong>Nombre</strong>
  <%= @proyecto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @proyecto.descripcion %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @proyecto.valor %>
</p>


<%= link_to 'Editar Poyecto', edit_proyecto_path(@evento) %> |
<%= link_to 'Volver al listado', proyectos_path %>
