<h2>Listado de proyectos disponible en la empresa <%= @empresa%></h2>

<% @proyectos.each do |proyecto| %>
<p>-------------------------------------------------------------------</p>
  <p>
    <strong>Nombre:</strong>
    <%= proyecto.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= proyecto.descripcion %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= proyecto.valor %>
  </p>
  <%= link_to 'Detalles', welcome_path(proyecto) %>

    <table border="1">
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Precio</th>
        <th>Estado</th>
        <th>Imagen ajustada</th>

      </tr>

      <% proyecto.design.each do |d| %>
        <tr>
          <td><%= d.Nombres %></td>
          <td><%= d.Apellidos %></td>
          <td><%= d.Email %></td>
          <td><%= d.Precio %></td>
          <td><%= d.Estado %></td>
          <td><%= image_tag d.Imagen.url(:cover) if !d.Imagen.url(:cover).nil?   %></td>
        </tr>
      <% end %>
    </table>
<% end %>
