<h2>Listado de proyectos disponible en la empresa <%= @empresa%></h2>

<% @proyectos.each do |proyecto| %>
<div class="alert alert-secondary" role="alert">
  <p>-------------------------------------------------------------------</p>
    <p>
      <strong>Nombre del Proyecto:</strong>
      <%= proyecto.nombre %>
    </p>

    <p>
      <strong>Descripcion:</strong>
      <%= proyecto.descripcion %>
    </p>

    <p>
      <strong>Valor:</strong>
      <%= proyecto.valor %>
    </p>
    <%= link_to 'Detalles', welcome_path(proyecto) %>
</div>
<table border="1">
      <tr>

        <th>Estado</th>
        <th>Fecha</th>
        <th>Imagen ajustada</th>

      </tr>

      <% proyecto.design.each do |d| %>
        <tr>

          <td><%= d.Estado %></td>
          <td><%= d.created_at %></td>
          <td><%= image_tag d.Imagen.url(:cover).chomp(File.extname(img)) + '.png' if !d.Imagen.url(:cover).nil? and d.Estado == "Disponible"   %></td>
        </tr>
      <% end %>
    </table>
<% end %>
