<h2>Listado de proyectos disponible en la empresa <%= @empresa%></h2>

<% @proyectos.each do |proyecto, value| %>
  <p>
    <strong>Nombre:</strong>
    <%= proyecto %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= @proyectos[proyecto].first.descripcion %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= @proyectos[proyecto].first.valor %>
  </p>
  <%= link_to 'Detalles', welcome_path(@proyectos[proyecto].first.id) %>

    <table>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Precio</th>
        <th>Estado</th>
        <th>Imagen ajustada</th>

      </tr>

      <% @proyectos[proyecto].each do |d| %>
        <tr>
          <td><%= d.Nombres %></td>
          <td><%= d.Apellidos %></td>
          <td><%= d.Email %></td>
          <td><%= d.Precio %></td>
          <td><%= d.Estado %></td>
          <td><%= image_tag d.Imagen.url(:cover) if !d.Imagen.url(:cover).nil?   %></td>
        </tr>
      <% end %>
    </table>
<% end %>
