
<h1>Listado de todos los eventos</h1>
<%= link_to 'New evento', new_evento_path %>
<table>
  <tr>
    <th>Nombre</th>
    <th>Categoria</th>
    <th>Lugar</th>
    <th>Direccion</th>
    <th>Fecha Inicio</th>
    <th>Fecha Fin</th>
    <th>Modalidad</th>
    <th colspan="3"></th>
  </tr>

  <% @eventos.each do |evento| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>

      <td><%= evento.nombre %></td>
      <td><%= evento.categoria %></td>
      <td><%= evento.lugar %></td>
      <td><%= evento.direccion %></td>
      <td><%= evento.fecha_inicio %></td>
      <td><%= evento.fecha_fin %></td>
      <td><%= evento.modalidad %></td>
      <td><%= link_to 'Show', evento_path(evento) %></td>
      <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
      <td><%= link_to 'Destroy', evento_path(evento),
              method: :delete,
              data: { confirm: 'Esta seguro que desea eliminar?' } %></td>
    </tr>
  <% end %>
</table>
