<h1>Nuevo Evento</h1>

<%= form_with scope: :evento, url: eventos_path, local: true do |form| %>
  <p>
    <%= form.label :nombre %><br>
    <%= form.text_field :nombre %>
  </p>

  <p>
    <%= form.label :categoria %><br>
    <%= form.select  :categoria, ['Conferencia', 'Seminario', 'Congreso', 'Curso'] %>
  </p>

  <p>
    <%= form.label :lugar %><br>
    <%= form.text_field :lugar %>
  </p>

  <p>
    <%= form.label :direccion %><br>
    <%= form.text_area :direccion %>
  </p>

  <p>
    <%= form.label :fecha_inicio %><br>
    <%= form.date_field :fecha_inicio %>
  </p>

  <p>
    <%= form.label :fecha_fin %><br>
    <%= form.date_field :fecha_fin %>
  </p>

  <p>
    <%= form.label :modalidad %><br>
    <%= form.select :modalidad, ['Presencial', 'Virtual'] %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', eventos_path %>
