<h1>Datos del Evento</h1>
<p>
  <strong>Nombre</strong>
  <%= @evento.nombre %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @evento.categoria %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @evento.lugar %>
</p>

<p>
  <strong>direccion:</strong>
  <%= @evento.direccion %>
</p>

<p>
  <strong>fecha de inicio:</strong>
  <%= @evento.fecha_inicio %>
</p>

<p>
  <strong>fecha de finalizacion:</strong>
  <%= @evento.fecha_fin %>
</p>

<p>
  <strong>Modalidad de asistencia:</strong>
  <%= @evento.modalidad %>
</p>

<%= link_to 'Guardar Cambios', edit_evento_path(@evento) %> |
<%= link_to 'Volver al listado', eventos_path %>
